<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="cn.edu.pku.sei.ra.dt.presentation.DtModelWizardID"
            name="%_UI_DtModelWizard_label"
            class="cn.edu.pku.sei.ra.dt.presentation.DtModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DtModelFile.gif">
         <description>%_UI_DtModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="cn.edu.pku.sei.ra.dt.presentation.DtEditorID"
            name="%_UI_DtEditor_label"
            icon="icons/full/obj16/DtModelFile.gif"
            extensions="dt"
            class="cn.edu.pku.sei.ra.dt.presentation.DtEditor"
            contributorClass="cn.edu.pku.sei.ra.dt.presentation.DtActionBarContributor">
      </editor>
   </extension>

</plugin>
